<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-04.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <form>
            <span class="error-header p-b-45">
              Nessun Cliente Associato Trovato
            </span>
            <span class="error-subheader p-b-5">
              Assicurarsi di Aver inserito il codice azienda corretto in tal caso contattare l'amministratore di sistemma
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
