<div class="addContainer" style="width:100vh">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          Inserisci la password per accedere
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
        <mat-form-field appearance="outline" class="example-full-width" subscriptSizing="dynamic">
          <mat-label>Password</mat-label>
          <input [value]="password" [(ngModel)]="password"  matInput >
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">
        <button (click)="Accedi()" class="auth-form-btn"
                color="primary" mat-raised-button>
          Invia Ticket
        </button>
      </div>
    </div>
  </div>
</div>
